# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
*.egg
idea/


# Django
*.env
config.ini
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
*.egg

# Static files
/static/
